<table>
  <tbody>
    <tr>
      <td>
        <h5>About</h5>
        <p>I am a Software Engineer at insurance company.</p>

        <p>Developing, deploying and maintaining corporate systems and various server-side software on .NET platform using C# language.</p>
        <p>Also, experienced with such programming languages, frameworks, databases and technologies as: JavaScript, Angular 2+, MS SQL, OracleDB, Entity Framework and Dapper, Git (GitHub, GitLab, Bitbucket), Redis.</p>
        <p>In addition, got experience integrating with such third-party systems as messengers and payment systems and creating chat-bots. Especially like researching.</p>

        <p>Living in Kyiv, Ukraine.</p>
        <p>Open for opportunities for either relocation for full-time or remote work. Canada is preferred.</p>

        <p class="linkedIn"><a mat-button href="https://www.linkedin.com/in/volodymyr-varha/" target="_blank" class="linkedInLink">My LinkedIn</a></p>
      </td>
    </tr>
    <tr>
      <td>
        <mat-card class="linkedin">
          <mat-card-header>
            <mat-card-title>
              My CV
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ngx-extended-pdf-viewer [src]="'assets/CV_VolodymyrVarha.pdf'"
                                     [useBrowserLocale]="true"
                                     [height]="'80vh'"
                                     [textLayer]="true"
                                     [showHandToolButton]="true">
            </ngx-extended-pdf-viewer>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
  </tbody>
</table>
