.counters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.margin-l-25 {
  margin-left: 25px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-5 {
  margin: 5px;
}
