<form [formGroup]="investmentFormGroup" class="form">
  <div class="form-delete-button">
    <button mat-icon-button class="delete-button" (click)="remove()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Period (months)</mat-label>
    <input matInput min=1 formControlName="period">
    <mat-hint>
      <span *ngIf="period >= 12">{{ Math.floor(period / 12) | number }} year(s)</span>
      <span *ngIf="period % 12 !== 0"> {{ period < 12 ? period : (period % 12) | number:'1.0-0' }} months</span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Starting sum</mat-label>
    <input matInput min=0 formControlName="startSum">
<!--    <mat-hint>Sum starting with</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Monthly added sum</mat-label>
    <input matInput formControlName="monthlyAddSum">
    <mat-hint>For all period: {{ +period * +monthlyAddSum | number:'1.1-2' }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Monthly rate (%)</mat-label>
    <input matInput min=0 formControlName="monthlyRate">
    <mat-hint>Per year: {{ yearlyRate | number:'1.1-2' }}%</mat-hint>
  </mat-form-field>

  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        Total income
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalIncome | currency:'USD':'symbol-narrow' }}</p>
    </mat-card-content>
  </mat-card>
</form>
